<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Alex Dev</title>
        <link rel="icon" type="image/png" href="https://devalex.fr/logoModeDark.png">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
